.light-mode {
    background-color: white;
}



.light-mode header li:hover{
    background-color: white;
    color: black;
}


/*  Color mode  */

.light-mode #color-mode-btn, .light-mode #dropdown-color-mode-btn{
    background-color: white;
    color: black;
}

.light-mode #color-mode-btn:hover, .light-mode #dropdown-color-mode-btn:hover{
    background-color: black;
    color: white;
}

