#basic{
    display: flex;
    flex-direction: row;
}
#basic ul{
    display: inherit;
    flex-direction: inherit;
}

#dropdown{
    display: none;
    width: 50vw;
    background-color: rgb(0, 150, 200);
    border-radius: 0 0 10px 10px;
    margin-left: auto;
    padding: 25px 55px 25px 25px;
    transition: 0.2s;
    gap: 10px;
    flex-direction: column;
}





